<div id="content">
  <h2>RESERVATION AREAS</h2>
  
<nav aria-label="Reservation filters" class="float-end mb-4">
  <ul class="list-group list-group-horizontal">

    <li class="list-group-item border-0">
      <button class="btn btn-link text-info p-0 text-decoration-none"
        (click)="openModal(viewAvailRes, 'avail-res-modal')">
        View Available Reservations
        <span class="badge bg-success rounded-pill ms-3">{{ availableReservations() }}</span>
      </button>
    </li>

    <li class="list-group-item border-0">
      <button class="btn btn-link text-info p-0 text-decoration-none"
        (click)="openModal(viewBookedRes, 'booked-res-modal')">
        View Booked Reservations
        <span class="badge bg-danger rounded-pill ms-3">{{ bookedReservations() }}</span>
      </button>
    </li>

  </ul>
</nav>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Res. Id</th>
        <th scope="col">Res. Name</th>
        <th scope="col">Res. Time</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (reservation of reservations; track $index; let i = $index) {
        <tr class="tRow">
          <td>RES {{ reservation.id }}</td>
          <td>{{ reservation.rName }}</td>
          <td>{{ reservation.rTime }}</td>
          <td>
            <label>
              <input
                type="checkbox"
                [checked]="reservation.isBooked"
                (change)="toggleReservation(i)"
              />
              {{ reservation.isBooked ? 'Booked' : 'Available' }}
            </label>
          </td>
          <td><button class="btn btn-link text-danger p-0" 
                  (click)="deleteReservation(reservation.id)">
            <i class="bi bi-trash"></i> <!-- Bootstrap Icons -->
          </button><button class="btn btn-link text-success ps-4" 
                  (click)="deleteReservation(reservation.id)">
            <i class="bi bi-pencil"></i> <!-- Bootstrap Icons -->
          </button></td>
        </tr>
      }
    </tbody>
  </table>
  <button class="btn btn-dark" id="addBtn"
        (click)="openModal(addReservationModal, 'add-res-modal')">
        Add Reservation
  </button>
</div>

<!-- ADD RESERVATION MODAL -->

<ng-template #addReservationModal let-modal>
  <div class="modal-header justify-content-center">
    <h5 class="modal-title">Add Reservation</h5>
    <button class="btn-close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <form #resForm="ngForm">
      <input
        type="text"
        class="form-control"
        name="rId"
        #idInput="ngModel"
        ngModel
        placeholder="Enter Reservation Id"
        required
      />

      <input
        type="text"
        class="form-control mt-3"
        name="rName"
        #nameInput="ngModel"
        ngModel
        placeholder="Enter Reservation Name"
        required
      />

      <div class="text-danger mt-1" *ngIf="nameInput.invalid && nameInput.touched">
        Reservation name is required.
      </div>

      <select class="form-control mt-3" #slot>
        <option value="" style="color: #bababa" disabled selected>Choose Time Slot</option>
        <option value="9am - 12noon">9am - 12noon</option>
        <option value="12noon - 3pm">12noon - 3pm</option>
        <option value="3pm - 6pm">3pm - 6pm</option>
      </select>
      <div class="form-check mt-4">
        <input type="checkbox" class="form-check-input" #bookedInput />
        <label class="form-check-label ms-2">Booked</label>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close()">Close</button>

    <button
      class="btn btn-dark"
      (click)="addReservation(idInput.value, nameInput.value, slot.value, bookedInput.checked);"
    >
      Add Reservation
    </button>
  </div>
</ng-template>

<!-- VIEW BOOKED RESERVATIONS ONLY -->

<ng-template #viewBookedRes let-modal>
  <div class="modal-header justify-content-center w-100">
    <h5 class="modal-title">BOOKED RESERVATIONS</h5>
    <button class="btn-close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Res. Id</th>
            <th scope="col">Res. Name</th>
            <th scope="col">Res. Time</th>
          </tr>
        </thead>
        <tbody>
          @for (reservation of displayBookedRes(); track reservation; let i = $index) {
            <tr>
              <td>RES {{ reservation.id }}</td>
              <td>{{reservation.rName}}</td>
              <td>{{reservation.rTime}}</td>
            </tr>
          }
        </tbody>                  
    </table>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<!-- VIEW AVAILABLE RESERVATIONS ONLY -->

<ng-template #viewAvailRes let-modal>
  <div class="modal-header justify-content-center w-100">
    <h5 class="modal-title">AVAILABLE RESERVATIONS</h5>
    <button class="btn-close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Res. Id</th>
            <th scope="col">Res. Name</th>
            <th scope="col">Res. Time</th>
          </tr>
        </thead>
        <tbody>
          @for (reservation of displayAvailRes(); track reservation; let i = $index) {
            <tr>
              <td>RES {{ reservation.id }}</td>
              <td>{{reservation.rName}}</td>
              <td>{{reservation.rTime}}</td>
            </tr>
          }
        </tbody>                  
    </table>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

